<h1>Sales by: <%= user.login %></h1>
<% if (transactions.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Buyer</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% transactions.forEach(t => { %>
                <tr>
                    <td><%= t.item_name %></td>
                    <td><a href="/users/<%= t.buyer_id %>/purchases"><%= t.buyer_name %></a></td>
                    <td>$<%= t.price %></td>
                    <td><%= t.created_at %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p>No sales found</p>
<% } %>
<a href="/users">Back to Users</a>